<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>智能通信运营管理平台</title>
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/layui.css" />
		<script src="../../js/api.js"></script>
		<script src="../../js/jquery-3.0.0.min.js"></script>
		<script src="../laydate/laydate.js"></script>
		<script src="../../js/vue.min.js"></script>
	</head>
	<!--[if IE 9]>
<style>
    #leftMenu_Box{
        width: 15.08%;
        height: 979px;
        float: left;
        background: #040b29 !important;
        position: relative;
        box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.5);
    }
</style>
<![endif]-->
	<style>
		/*#page {*/
		/*padding: 50px 0 47px 0;*/
		/*}*/
		
		#page1,
		#page2 {
			text-align: center;
			padding: 10px 0 28px;
		}
		
		#leftMenu_Box .leftMenu ul li div.prop a.prop25 {
			background-color: #1890FF !important;
			color: #fff !important;
		}
		
		.sw_row tr td div {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 10px;
			box-sizing: border-box;
		}
		.shade_con1,
		.shade_con3 {
			width: 390px;
			height: auto;
		}
		.shade_con,.shade_con2{
        height: auto;
        width: 62%;
        padding-bottom: 20px;
    }
		.shade_con .temp,
		.shade_con1 .temp,
		.shade_con2 .temp,
		.shade_con3 .temp {
			height: auto;
			width: auto;
			border: none;
			background: unset;
			margin: 20px 22px;
		}
		
		.layui-form-checkbox[lay-skin="primary"] span {
			font-size: 12px;
			padding-right: 0px;
			color: #494949;
		}
		/*table tr th {*/
		/*box-sizing: border-box;*/
		/*padding: 16px 0;*/
		/*border-bottom: 1px solid #e1e7ec;*/
		/*}*/
		
		.sw_row tr td:nth-child(9) {
			padding: 8px 0;
		}
		
		.shade_con1 .layui-form-select dl,
		.shade_con .layui-form-select dl,
		.shade_con2 .layui-form-select dl {
			max-height: 200px;
			top: -30px !important;
		}
		
		.table_tou {
			padding-left: 22px;
		}
		
		.table_tou h6 {
			font-size: 15px;
			color: rgba(143, 156, 170, 1);
			cursor: pointer;
			padding: 0px;
			;
			;
			margin: 8px 25px 0px 0px;
			padding-bottom: 6px;
		}
		
		.addClass2 {
			border-bottom: 2px solid #3C84D2;
			font-size: 20px !important;
			color: #000 !important;
		}
	</style>

	<body>
		<div id="proMang">
			<div class="top"><img src="../../img/logo.png" alt="" class="logo">
				<ul>
					<li class="top-a-box" data-value="210">
						<a href="../workbench/order_fail.html"><span class="iconfont icon-diannao" style="font-size: 22px;"></span> 工作台
						</a>
					</li>
					<li class="top-a-box " data-value="211">
						<a href="../user_manage/user_manage.html">
							<span class="iconfont icon-yonghu" style="font-size: 22px;"></span> 用户管理
						</a>
					</li>
					<li class="top-a-box " data-value="212">
						<a href="../order_manage/order_manage.html"><span class="iconfont icon-dingdanguanli" style="font-size: 22px;"></span> 订单管理
						</a>
					</li>
					<li class="top-a-box addClass" data-value="213">
						<a href="./take_orders.html"><span class="iconfont icon-iconfonticon-shebei" style="font-size: 22px;"></span> 资源配置
						</a>
					</li>
				</ul>
				<div class="sign">
					<span class="ren"></span> <span class="type"></span>
					<img src="../../img/退出.png" alt="" onclick="sign()">
				</div>
			</div>
		</div>
		<div class="main-box">
			<!-- 左侧菜单 -->
			<div id="leftMenu_Box" class="resource">
				<div class="leftMenu">
					<ul>
						<li class="left_a  dn" data-value="21313">
							<a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
								<span class="iconfont icon-iconfonticon-baobia"></span> 接单模板配置
								<i class="iconfont icon-iconfontfold"></i></a>

							<div class="prop dns">
								<a href="./take_orders.html" data-value="2131310" class="prop7 left_a dn">接单模板</a>
								<a href="./signature_manage.html" data-value="2131311" class="prop8 left_a dn">签名管理</a>
								<a href="./template_manage.html" data-value="2131312" class="prop9 left_a dn">模板管理</a>
								<a href="./gateway.html" data-value="2131313" class="prop10 left_a dn">网关签名</a>
								<a href="./shortChain.html" data-value="2131314" class="prop18 left_a dn sw_url">智能短链</a>
							</div>
						</li>
						<li class="left_a dn " data-value="21315">
							<a href="./test_send.html" class="leftNav">
								<span class="iconfont icon-fasong"></span> 测试发送
							</a>
						</li>
						<li class="left_a addclass_one dn" data-value="21310">
							<a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
								<span class="iconfont icon-diannao-shuju"></span> 基础数据配置
								<i class="iconfont icon-icon11"></i> </a>
							<div class="prop dbs">
								<a href="./sensitive_word.html" data-value="2131010" class="prop1 left_a dn">敏感词部署</a>
								<a href="./rate_limiting.html" data-value="2131011" class="prop2 left_a dn">下单限速</a>
								<a href="./risk_list.html" data-value="2131012" class="prop3 left_a dn">危险词</a>
								<a href="./home_location.html" data-value="2131013" class="prop24 left_a dn">归属地维护</a>
								<a href="javascript:void(0);" data-value="2131013" class="prop25 left_a dn">归属地保护</a>
							</div>
						</li>
						<li class="left_a dn" data-value="21311">
							<a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
								<span class="iconfont icon-peizhishujuyuan"></span> 网关配置
								<i class="iconfont icon-iconfontfold"></i></a>

							<div class="prop dns">
								<a href="./definition_gate.html" data-value="2131110" class="prop4 left_a dn">定义网关</a>
								<a href="./route_manage.html" data-value="2131111" class="prop5 left_a dn">配置路由</a>
								<a href="./route_list.html" data-value="2131112" class="prop6 left_a dn">通路选择</a>
								<a href="./gateway_send.html" data-value="2131113" class="prop16 left_a dn">网关发送</a>
								<a href="./user_data.html" data-value="2131114" class="prop17 left_a dn">用户数据统计</a>
							</div>
						</li>
						<!--<li class="left_a  " data-value="21312">-->
						<!--<a href="javascript:void(0);" class="leftNav" style="padding: 20px;">-->
						<!--<span class="iconfont icon-guanli"></span>-->
						<!--通路配置-->
						<!--</a>-->
						<!--</li>-->

						<li class="left_a dn " data-value="21314">
							<a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
								<span class="iconfont icon-moban"></span> 被叫配置
								<i class="iconfont icon-iconfontfold"></i></a>

							<div class="prop dns">
								<a href="./list_set.html" data-value="2131410" class="prop11 left_a dn">黑名单</a>
								<a href="./vip_list.html" data-value="2131411" class="prop12 left_a dn">VIP白名单</a>
								<a href="./unsubscribe.html" data-value="2131412" class="prop13 left_a dn">退订名单</a>
							</div>
						</li>
						<li class="left_a  dn" data-value="21316">
							<a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
								<span class="iconfont icon-peizhishujuyuan"></span> 风险控制
								<i class="iconfont icon-iconfontfold"></i></a>
							<div class="prop dns">
								<a href="./risk_rule.html" data-value="2131610" class="prop21 left_a dn">风控规则</a>
								<a href="./risk_result.html" data-value="2131611" class="prop22 left_a dn">风控结果</a>
								<a href="./report_take.html" data-value="2131612" class="prop23 left_a dn">告警订阅</a>
							</div>
						</li>
					</ul>
					<div class="group" onclick="flexible(event)"><span class="iconfont icon-xiangzuo" style="color: rgb(255, 255, 255); font-size: 13px;"></span></div>
				</div>
			</div>
			<div id="rightTable">
				<v-signature></v-signature>
			</div>
		</div>
		<div id="shade">
			<v-rate></v-rate>
		</div>
		<div id="shade1">
			<v-phone></v-phone>
		</div>
		<div id="shade2">
			<v-operator></v-operator>
			<v-ip></v-ip>
		</div>
		<script type="text/x-template" id="signature-template">
			<div>
				<div class="table_tou">
					<h6 class="fl addClass2">签名归属地保护</h6>
					<h6 class="fl">用户归属地保护</h6>
					<div class="fr sw_padd">
						<span class="sw_num" v-cloak>{{totalCount}}</span>&nbsp; &nbsp;<span style="color:#738495">条记录</span>
						<span class="Gradual" @click="shade()">
              <span
                      class="iconfont icon-jiekuanshenqing"
                      >&nbsp;新增</span
                      >
            </span>
						<!--<span class="Gradual" @click="importFile()" v-if="code == 0">-->
						<!--<span class="iconfont icon-export">&nbsp;导出</span>-->
						<!--</span>-->
					</div>
				</div>
				<div class="table_nav">
					<form class="layui-form layui-form-pane" action="">
						<div class="list">
							<div class="layui-inline dropdown unlike1">
                    <label class="">用户</label><br />
                    <input type="text" class="dropdown-selected1"
                           name="userId" autocomplete="off" placeholder="请输入">
                    <ul class="dns">
                        <li v-for="(li, index) in userData">
                            <a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
                        </li>
                    </ul>
                </div>
							<div class="layui-inline">
								<label class="">归属地</label><br />
								<div class="layui-input-inline">
									<input type="text" name="province" placeholder="请输入" class="layui-input" />
								</div>
							</div>
							<div class="layui-inline">
								<label class="">签名</label><br />
								<div class="layui-input-inline">
									<input type="text" name="signName" placeholder="请输入" class="layui-input" />
								</div>
							</div>
							<div class="layui-inline">
								<label class="">运营商</label><br />
								<div class="layui-input-inline">
									<select name="operator">
										<option value="">请选择</option>
										<option value="中国移动">中国移动</option>
										<option value="中国联通">中国联通</option>
										<option value="中国电信">中国电信</option>
										<option value="我的移动">我的移动</option>
										<option value="我的联通">我的联通</option>
										<option value="我的电信">我的电信</option>
										<option value="网关移动">网关移动</option>
										<option value="网关联通">网关联通</option>
										<option value="网关电信">网关电信</option>
										<option value="虚拟移动">虚拟移动</option>
										<option value="虚拟联通">虚拟联通</option>
										<option value="虚拟电信">虚拟电信</option>
									</select>
								</div>
							</div>
							<div class="layui-input-inline">
								<button type="button" class="sw_btn1" lay-submit="" lay-filter="demo1">
                            查询
                        </button>
							</div>
						</div>
						<div class="list3 dn">
							<div class="layui-inline dropdown unlike2">
                    <label class="">用户</label><br />
                    <input type="text" class="dropdown-selected1"
                           name="userId" autocomplete="off" placeholder="请输入">
                    <ul class="dns">
                        <li v-for="(li, index) in userData">
                            <a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
                        </li>
                    </ul>
                </div>
							<div class="layui-inline">
								<label class="">归属地</label><br />
								<div class="layui-input-inline">
									<input type="text" name="provinceT" placeholder="请输入" class="layui-input" />
								</div>
							</div>
							<div class="layui-inline">
								<label class="">运营商</label><br />
								<div class="layui-input-inline">
									<select name="operatorT">
										<option value="">请选择</option>
										<option value="中国移动">中国移动</option>
										<option value="中国联通">中国联通</option>
										<option value="中国电信">中国电信</option>
										<option value="我的移动">我的移动</option>
										<option value="我的联通">我的联通</option>
										<option value="我的电信">我的电信</option>
										<option value="网关移动">网关移动</option>
										<option value="网关联通">网关联通</option>
										<option value="网关电信">网关电信</option>
										<option value="虚拟移动">虚拟移动</option>
										<option value="虚拟联通">虚拟联通</option>
										<option value="虚拟电信">虚拟电信</option>
									</select>
								</div>
							</div>
							<div class="layui-input-inline">
								<button type="button" class="sw_btn1" lay-submit="" lay-filter="demo3">
                            查询
                        </button>
							</div>
						</div>
					</form>
					<div class="sw_row">
						<table style="margin-top: 15px;width: 100%">
							<tr v-if="code == 0">
								<th>用户</th>
								<th>签名</th>
								<th>归属地</th>
								<th>运营商</th>
							</tr>
							<tr v-if="code == 2">
								<th>用户</th>
								<th>归属地</th>
								<th>运营商</th>
								<th style="width:250px;box-sizing: border-box;">操作</th>
							</tr>
							<tr v-cloak v-for="(li, index) in allData" v-if="code == 0">
								<td>{{li.loginName }}</td>
								<td>{{li.signName}}</td>
								<td>{{li.province}}</td>
								<td>{{li.operator}}</td>
							</tr>
							<tr v-cloak v-for="(li, index) in allData" v-if="code == 2">
								<td>{{li.loginName }}</td>
								<td>{{li.province}}</td>
								<td>{{li.operator}}</td>
								<td>
									<span class="sw_btn2 marr_5" @click="del(li.locationRuleId)">删除该运营商</span>
									<span class="sw_btn2" @click="delAll(li.locationRuleId)">删除全部运营商</span>
								</td>
							</tr>
						</table>
						<div class="sw_pad8" v-show="showNo == true">暂无数据</div>
					</div>
					<div id="page"></div>
				</div>
			</div>
		</script>
		<script type="text/x-template" id="rate-template">
		    <div class="shade_con">
		        <div class="tongji">
		            <h3>新增签名归属地保护</h3>
		            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
		        </div>
		        <form class="layui-form layui-form-pane" action="" >
		          <div class="border">
							<div class="layui-inline dropdown unlike3">
								<label class="lable">用户名</label><br />
								<input type="text" class="dropdown-selected1"  name="userId" autocomplete="off" placeholder="请输入">
								<ul class="dns" style="max-height: 180px;">
									<li v-for="(li, index) in userData1">
										<a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
									</li>
								</ul>
							</div>
							<div class="layui-inline">
								<label class="lable">签名</label><br />
								<div class="layui-input-inline" >
									<input type="text" name="signName"  placeholder="请输入" class="layui-input " />
								</div>
							</div>
							<div class="layui-inline">
								<label class="lable">归属地</label><br />
								<div class="layui-input-inline" >
									<input type="text" name="province" placeholder="请输入" class="layui-input" />
								</div>
							</div>
							<!--<div class="layui-inline">
								<label class="lable">用户归属地</label><br />
								<div class="layui-input-inline">
									<input type="text" name="province"  placeholder="请输入" class="layui-input" />
								</div>
							</div>-->
							<div class="layui-inline">
								<button class="sw_btn1"  lay-submit="" lay-filter="demo6" >
                            新增
                        </button>
								<span class="sw_btn1" lay-submit="" lay-filter="demo7">查询</span>
							</div>
						</div>
		        </form>
		        <div class="table_tou" style="margin:10px 20px -1px 22px;">
		            <h6 class="fl">添加预览详情</h6>
		            <div class="fr sw_padd">
		                <!--<span class="Gradual" @click="importFileT()">
		                  <span class="iconfont icon-export" >&nbsp;导出</span>
		                </span>-->
		            </div>
		        </div>
		        <div class="sw_row heightScroll" style="margin:0 20px 0 22px;background: #fff;max-height: 235px;">
		            <table style="margin-top: 15px;width: 100%;">
		                <tr>
		                    <th style="">归属地</th>
		                    <th style="">归属地发送量</th>
		                    <th style="">发送总量</th>
		                    <th style="">发送占比(%)</th>
		                </tr>
		                <tr  v-for="(li, index) in allData1">
		                    <td>{{li. pro}}</td>
		                    <td>{{li.proCoun}}</td>
		                    <td>{{li.total}}</td>
		                    <td>{{li.locPct}}</td>
		                </tr>
		            </table>
		            <div class="sw_pad8" v-show="mapShow1 == true">暂无数据</div>
		        </div>
		        <div  style="text-align: center;">
		            <span class="sw_btn1"  @click="shanchu()">
		                关闭
		            </span>
		        </div>
		    </div>
		</script>
		<script type="text/x-template" id="operator-template">
		    <div class="shade_con2">
		        <div class="tongji">
		            <h3>新增用户归属地保护</h3>
		            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
		        </div>
		        <form class="layui-form layui-form-pane" action="" >
		          <div class="border">
							<div class="layui-inline dropdown unlike4" >
								<label class="lable">用户名</label><br />
								<input type="text" class="dropdown-selected1"  name="name" autocomplete="off" placeholder="请输入">
								<ul class="dns" style="max-height: 180px;">
									<li v-for="(li, index) in userData1">
										<a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
									</li>
								</ul>
							</div>
							<div class="layui-inline">
								<label class="lable">归属地</label><br />
								<div class="layui-input-inline" >
									<input type="text" name="province"  placeholder="请输入" class="layui-input " />
								</div>
							</div>
							<div class="layui-inline">
								<button class="sw_btn1"  lay-submit="" lay-filter="demo10" >
                            新增
                        </button>
								<span class="sw_btn1"lay-submit="" lay-filter="demo11">查询</span>
							</div>
						</div>
		        </form>
		        <div class="table_tou" style="margin:10px 20px -1px 22px;">
		            <h6 class="fl">近三天发送占比 </h6>
		            <div class="fr sw_padd">
		                <!--<span class="Gradual" @click="importFileT()">
		                  <span class="iconfont icon-export" >&nbsp;导出</span>
		                </span>-->
		            </div>
		        </div>
		        <div class="sw_row heightScroll" style="margin:0 20px 0 22px;background: #fff;max-height: 235px;">
		            <table style="margin-top: 15px;width: 100%;">
		                <tr>
		                    <th style="">归属地</th>
		                    <th style="">归属地发送量</th>
		                    <th style="">发送总量</th>
		                    <th style="">发送占比(%)</th>
		                </tr>
		                <tr  v-for="(li, index) in allData1">
		                    <td>{{li. pro}}</td>
		                    <td>{{li.proCoun}}</td>
		                    <td>{{li.total}}</td>
		                    <td>{{li.locPct}}</td>
		                </tr>
		            </table>
		            <div class="sw_pad8" v-show="mapShow1 == true">暂无数据</div>
		        </div>
		        <div  style="text-align: center;">
		            <span class="sw_btn1"  @click="shanchu()">
		                关闭
		            </span>
		        </div>
		    </div>
		</script>
		<script src="../../layui.all.js"></script>
		<script src="../../module/home_protect.js"></script>
		<script>
			//头部
			//    var operaAI = new Vue({
			//        el: "#proMang",
			//        data: {
			//            topCurrent: 3
			//        }
			//    });
			//    //   //左侧菜单组件实例化
			//    var leftMenu = new Vue({
			//        el: "#leftMenu_Box",
			//        data: {
			//            current: 1
			//        }
			//    });
			resource()
			//
			var rightTable = new Vue({
				el: "#rightTable"
			});
			//
			var shade = new Vue({
				el: "#shade"
			});
			var shade1 = new Vue({
				el: "#shade1"
			});
			var shade2 = new Vue({
				el: "#shade2"
			});
			$(function() {

				$(document).ready(function() {
					//          $('#leftMenu_Box').css('background', '#040b29');
					//          $('#proMang .top').css('background', '#fff')
				});
				//     $('#proMang .top ul li a').mousemove(function(){
				//         $(this).addClass('addClass').parent().siblings().find('a').removeClass('addClass')
				//   })
				 total($(".unlike1 ul li"),$(".unlike1 .dropdown-selected1"),$(".unlike1 ul"),$(".unlike1"));
				 total($(".unlike2 ul li"),$(".unlike2 .dropdown-selected1"),$(".unlike2 ul"),$(".unlike2"));
				 total($(".unlike3 ul li"),$(".unlike3 .dropdown-selected1"),$(".unlike3 ul"),$(".unlike3"));
				 total($(".unlike4 ul li"),$(".unlike4 .dropdown-selected1"),$(".unlike4 ul"),$(".unlike4"));
			});
		</script>
	</body>

</html>