<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>智能通信运营管理平台</title>
    <link rel="stylesheet" href="../../css/style.css"/>
    <link rel="stylesheet" href="../../css/layui.css"/>
    <script src="../../js/api.js"></script>
    <script src="../../js/jquery-3.0.0.min.js"></script>
    <script src="../../js/vue.min.js"></script>
</head>
<!--[if IE 9]>
<style>
    #leftMenu_Box{
        width: 15.08%;
        height: 979px;
        float: left;
        background: #040b29 !important;
        position: relative;
        box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.5);
    }
</style>
<![endif]-->
<style>

    #page,#page1{
        padding: 10px 0 16px 0;
    }
    #leftMenu_Box .leftMenu ul li div.prop a.prop5{
        background-color: #1890FF !important;
        color: #fff !important;
    }
    /*.sw_row tr td{*/
        /*padding: 20px 0;*/
    /*}*/
    .sw_row tr td:nth-child(9){
        padding: 8px 0;
    }
    .shade_con3{
        width: 380px;
        height:auto;
    }
    .shade_con1{
        width: 1000px;
        height: auto;
    }
    .shade_con3 .temp,.shade_con1 .temp{
        height: auto;
        width: auto;
        border: none;
        margin:10px 22px 0 22px;
    }
    .lable{
        font-size: 15px !important;
        padding: 12px 0 !important;
    }
    /*.layui-inline label{*/
        /*padding: 8px 0;*/
    /*}*/

    .sw_row tr td div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .sw_row tr td:nth-child(2) div{
        max-width: 200px;
    }

    .sw_row tr td:nth-child(5) div{
        max-width: 160px;
    }
    .sw_row tr td:nth-child(6) div{
        max-width: 160px;
    }
    @media screen and (max-width: 1440px) {
        .sw_row tr td:nth-child(2) div{
            max-width: 175px;
        }
    }
    .sw_row tr td div.router:hover{
        cursor: pointer;
        color: red;
        text-decoration: underline;
    }
    #text2,#text3{
        width: 912px;
        height: 100px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        padding: 7px;
    }
    /*.layui-form-select dl{*/
    /*top: -40px !important;*/
    /*}*/
    #shade3 .shade_con3 .layui-inline label{
        padding: 12px 0;
    }
</style>
<body>
<div id="proMang">
    <div class="top"><img src="../../img/logo.png" alt="" class="logo">
        <ul>
            <li class="top-a-box" data-value="210"><a href="../workbench/order_fail.html"><span
                    class="iconfont icon-diannao" style="font-size: 22px;"></span>
                工作台
            </a></li>
            <li class="top-a-box " data-value="211"><a href="../user_manage/user_manage.html">
                <span class="iconfont icon-yonghu" style="font-size: 22px;"></span>
                用户管理
            </a></li>
            <li class="top-a-box " data-value="212"><a href="../order_manage/order_manage.html"><span
                    class="iconfont icon-dingdanguanli" style="font-size: 22px;"></span>
                订单管理
            </a></li>
            <li class="top-a-box addClass" data-value="213"><a href="./take_orders.html"><span
                    class="iconfont icon-iconfonticon-shebei" style="font-size: 22px;"></span>
                资源配置
            </a></li>
        </ul>
        <div class="sign">
            <span class="ren"></span> <span class="type"></span>
            <img src="../../img/退出.png" alt=""  onclick="sign()">
        </div>
    </div>
</div>
<div class="main-box">
    <!-- 左侧菜单 -->
    <div id="leftMenu_Box" class="resource">
        <div class="leftMenu">
            <ul>
                <li class="left_a  dn" data-value="21313"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-iconfonticon-baobia"></span>
                    接单模板配置
                    <i class="iconfont icon-iconfontfold"></i></a>

                    <div class="prop dns">
                        <a href="./take_orders.html" data-value="2131310" class="prop7 left_a dn">接单模板</a>
                        <a href="./signature_manage.html" data-value="2131311" class="prop8 left_a dn">签名管理</a>
                        <a href="./template_manage.html" data-value="2131312" class="prop9 left_a dn">模板管理</a>
                        <a href="./gateway.html" data-value="2131313" class="prop10 left_a dn">网关签名</a>
                        <a href="./shortChain.html" data-value="2131314" class="prop18 left_a dn sw_url">智能短链</a>
                    </div>
                </li>
                <li class="left_a  dn" data-value="21315">
                    <a href="./test_send.html" class="leftNav" >
                        <span class="iconfont icon-fasong"></span>
                        测试发送
                    </a>
                </li>
                <li class="left_a dn" data-value="21310"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span  class="iconfont icon-diannao-shuju" ></span>
                    基础数据配置
                    <i class="iconfont icon-iconfontfold"></i> </a>
                    <div class="prop dns">
                        <a href="./sensitive_word.html" data-value="2131010" class="prop1 left_a dn">敏感词部署</a>
                        <a href="./rate_limiting.html" data-value="2131011" class="prop2 left_a dn">下单限速</a>
                        <a href="./risk_list.html" data-value="2131012" class="prop3 left_a dn">危险词</a>
                        <a href="./home_location.html" data-value="2131013" class="prop24 left_a dn">归属地维护</a>
                        <a href="./home_protect.html" data-value="2131013" class="prop25 left_a dn">归属地保护</a>
                    </div>
                </li>
                <li class="left_a dn addclass_one" data-value="21311"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-peizhishujuyuan"></span>
                    网关配置
                    <i class="iconfont icon-icon11"></i></a>

                    <div class="prop dbs">
                        <a href="./definition_gate.html" data-value="2131110" class="prop4 left_a dn">定义网关</a>
                        <a href="javascript:void(0);" data-value="2131111" class="prop5 left_a dn">配置路由</a>
                        <a href="./route_list.html" data-value="2131112" class="prop6 left_a dn">通路选择</a>
                        <a href="./gateway_send.html" data-value="2131113" class="prop16 left_a dn">网关发送</a>
                        <a href="./user_data.html" data-value="2131114" class="prop17 left_a dn">用户数据统计</a>
                    </div>
                </li>
                <!--<li class="left_a  " data-value="21312">-->
                    <!--<a href="javascript:void(0);" class="leftNav" style="padding: 20px;">-->
                        <!--<span class="iconfont icon-guanli"></span>-->
                        <!--通路配置-->
                    <!--</a>-->
                <!--</li>-->
                <li class="left_a dn " data-value="21314"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-moban"></span>
                    被叫配置
                    <i class="iconfont icon-iconfontfold"></i></a>

                    <div class="prop dns">
                        <a href="./list_set.html" data-value="2131410" class="prop11 left_a dn">黑名单</a>
                        <a href="./vip_list.html" data-value="2131411" class="prop12 left_a dn">VIP白名单</a>
                        <a href="./unsubscribe.html" data-value="2131412" class="prop13 left_a dn">退订名单</a>
                    </div>
                </li>
                <li class="left_a dn " data-value="21316"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-peizhishujuyuan"></span>
                    风险控制
                    <i class="iconfont icon-iconfontfold"></i></a>
                    <div class="prop dns">
                        <a href="./risk_rule.html" data-value="2131610" class="prop21 left_a dn">风控规则</a>
                        <a href="./risk_result.html" data-value="2131611" class="prop22 left_a dn">风控结果</a>
                        <a href="./report_take.html" data-value="2131612" class="prop23 left_a dn">告警订阅</a>
                    </div>
                </li>
            </ul>
            <div class="group" onclick="flexible(event)"><span class="iconfont icon-xiangzuo"style="color: rgb(255, 255, 255); font-size: 13px;"></span></div>
        </div>
    </div>
    <div id="rightTable">
        <v-order-fail></v-order-fail>
    </div>
</div>
<div id="shade3">
    <v-rate></v-rate>
</div>
<div id="shade1" >
    <v-import></v-import>
</div>
<script type="text/x-template" id="order-template">
    <div>
        <div class="table_tou">
            <h6 class="fl">配置路由</h6>
            <div class="fr sw_padd">
                <span class="sw_num" v-cloak>{{totalCount}}</span
                        >&nbsp; &nbsp;<span style="color:#738495">条记录</span>
                <span class="Gradual" @click="shade()">
                  <span
                          class="iconfont icon-jiekuanshenqing"
                          >&nbsp;新增路由</span
                          >
                </span>
                <span class="Gradual" @click="shade1()">
                  <span
                          class="iconfont icon-jiekuanshenqing"
                          >&nbsp;新增路由设置</span
                          >
                </span>
            </div>
        </div>
        <div class="table_nav">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-inline dropdown">
                    <label class="">路由</label><br />
                    <input type="text" class="dropdown-selected"
                           name="routeName" autocomplete="off" placeholder="请输入">
                    <ul class="dns">
                        <li v-cloak v-for="(li, index) in userData">
                            <a href="javaScript:" :data="li.routeId">{{li.routeName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="layui-input-inline">
                    <button class="sw_btn1" lay-submit="" lay-filter="demo" >
                        查询
                    </button>
                </div>
            </form>
            <div class="sw_row">
                <div style="float: left;width: 27%;">
                    <table style="margin-top: 15px;min-width: 100%;border-right: 1px solid #E1E7EC">
                        <tr>
                            <th style="width:100px">路由ID</th>
                            <th style="width:140px">路由名称</th>
                            <th style="width:80px;text-align: center;">操作</th>
                        </tr>
                        <tr v-cloak  v-for="(li, index) in allData">
                            <td>{{li.routeId}}</td>
                            <td>
                                <div :title="li.routeName" class="router" @click="router(li.routeId)">{{li.routeName}}</div>
                            </td>
                            <td style="text-align: center;">
                                <span class="sw_btn2 " @click="amend(li.routeId,li.routeName)">修改</span>
                            </td>
                        </tr>
                    </table>
                    <div v-show="showMap == true" style="text-align: center;font-size: 20px; padding: 20px 0;">暂无数据</div>
                    <div id="page"></div>
                </div>
                <div style="float: right;width: 68%;">
                    <div style="width: 100%;overflow-x:auto;">
                        <table style="margin-top: 15px;min-width: 1030px;">
                            <tr>
                                <th style="width:100px">ID</th>
                                <th style="width:200px">路由名称</th>
                                <th style="width:80px">优先级</th>
                                <th style="width:100px">负载权重</th>
                                <th style="width:150px">运营商</th>
                                <th style="width:200px">网关</th>
                                <th style="width:180px">失败自动切换</th>
                                <th style="width:180px">按回执重发</th>
                                <th style="width:160px;text-align: center;">操作</th>
                            </tr>
                            <tr v-cloak v-for="(li, index) in allDataTwo">
                                <td>{{li.routeId}}</td>
                                <td>
                                    <div :title="li.routeName">{{li.routeName}}</div>
                                </td>
                                <td>{{li.priority}}</td>
                                <td>{{li.ratio}}</td>

                                <td>
                                    <span v-if="li.operator == 2">中国移动</span>
                                    <span v-if="li.operator == 4">中国联通</span>
                                    <span v-if="li.operator == 8">中国电信</span>
                                    <span v-if="li.operator == 16">国际</span>
                                    <span v-if="li.operator == 0">全网</span>
                                </td>
                                <td>{{li.ismgName}}</td>
                                <td>{{li.autoChange}}</td>
                                <td>
                                    {{li.receiptResend}}
                                </td>
                                <td style="text-align: center;">
                                    <span class="sw_btn2 " @click="amend1(li.routeId,li.ismgId)">修改</span>
                                    <span class="sw_btn3" @click="del(li.routeId,li.ismgId,li.routeName)">删除</span>
                                </td>
                            </tr>
                        </table>
                        <div class="sw_pad8" v-show="showNo == true">暂无数据</div>
                    </div>

                    <div id="page1" style="text-align: center;"></div>
                </div>
            </div>
        </div>
        <div id="shade2">
            <div class="tips2">
                <div class="weizhi">
                    <img src="../../img/warming.png" alt="">
                </div>
                <div class="tc" v-cloak>
                    您确认删除该路由名称为：{{delName}}？
                </div>
                <div class="tc">
                    <button class="sw_btnsuss" @click="sw_btnsuss()">确认</button>
                    <button class="sw_btnwrong marl_15" @click="sw_btnwrong()">取消</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="rate-template">
    <div class="shade_con3">
        <div class="tongji">
            <h3 v-if="code == 0">新增路由</h3>
            <h3 v-if="code == 1">修改路由</h3>
            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
        </div>
        <div class="temp">
            <form class="layui-form layui-form-pane" action="" style="padding: 15px 0 30px 20px;">
                <div class="layui-inline">
                    <label class="">路由名称</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="routeName"
                                v-model="name"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-input-inline" style="    width: 98%;text-align: center;">
                    <button class="sw_btn1"  lay-submit="" lay-filter="demo9" v-if="code == 0">
                        新增
                    </button>
                <span class="sw_btn1 " v-if="code == 1" lay-submit="" lay-filter="demo10">
                  修改
                </span>
                    <span class="sw_btnwrong marl_15" @click="sw_btnwrong()">关闭</span>
                </div>

            </form>
        </div>
    </div>
</script>
<script type="text/x-template" id="import-template">
    <div class="shade_con1">
        <div class="tongji">
            <h3 v-if="code == 0">新增路由设置</h3>
            <h3 v-if="code == 1">修改路由设置</h3>
            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
        </div>
        <div class="temp">
            <form class="layui-form layui-form-pane" action="" style="padding: 15px 0 45px 20px;">
                <div class="layui-inline dropdown1" style="width:296px">
                    <label class="">路由</label><br />
                    <input type="text" class="dropdown-selected1"
                           :data="info.routeId" name="routeId" autocomplete="off" placeholder="请输入">
                    <ul>
                        <li v-cloak v-for="(li, index) in userData1">
                            <a href="javaScript:" :data="li.routeId">{{li.routeName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="layui-inline dropdown2" style="width:296px">
                    <label class="">网关</label><br />
                    <input type="text" class="dropdown-selected2"
                           :data="info.ismgId" name="ismgId" autocomplete="off" placeholder="请输入">
                    <ul>
                        <li v-cloak v-for="(li, index) in userData2">
                            <a href="javaScript:" :data="li.ismgId">{{li.ismgName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="layui-inline">
                    <label class="">运营商</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="operator" id="eventLevel">
                            <option value="0">全网</option>
                            <option value="2">中国移动</option>
                            <option value="4">中国联通</option>
                            <option value="8">中国电信</option>
                            <option value="16">国际</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">优先级</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="priority"
                                v-model="info.priority"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">负载权重</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="ratio"
                                v-model="info.ratio"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                    <span>%(0-100)</span>
                </div>
                <div class="layui-inline">
                    <label class="padR_10">失败自动切换</label>
                    <div class="layui-input-inline autoChange" style="width: auto;">
                        <input type="radio"  name="autoChange" value="1" title="全部切换" checked>
                        <input type="radio"  name="autoChange" value="0" title="全不切换">
                        <input type="radio"  name="autoChange" value="2" title="发送失败切换">
                        <input type="radio"  name="autoChange" value="3" title="回执失败切换">
                    </div>
                </div><br>
                <div class="layui-inline">
                    <label class="padR_10">按回执重发</label>
                    <div class="layui-input-inline" style="width: auto;">
                        <input type="radio" name="receiptResend" value="1" title="是" checked>
                        <input type="radio" name="receiptResend" value="0" title="否">
                    </div>
                </div><br>
                <div class="layui-input-inline" style="    width: 98%;text-align: center;">
                    <button class="sw_btn1"  lay-submit="" lay-filter="demo6" v-if="code == 0">
                        新增
                    </button>
                <span class="sw_btn1 " v-if="code == 1" lay-submit="" lay-filter="demo8">
                  修改
                </span>
                    <span class="sw_btnwrong marl_15" @click="sw_btnwrong()">关闭</span>
                </div>

            </form>
        </div>
    </div>
</script>
<script src="../../layui.all.js"></script>
<script src="../../module/route_manage.js"></script>
<script>
    //头部
//    var operaAI = new Vue({
//        el: "#proMang",
//        data: {
//            topCurrent: 3
//        }
//    });
//    //   //左侧菜单组件实例化
//    var leftMenu = new Vue({
//        el: "#leftMenu_Box",
//        data: {
//            current: 1
//        }
//    });
    resource()
    //   //左侧菜单组件实例化
    var rightTable = new Vue({
        el: "#rightTable"
    });
    //
    var shade3 = new Vue({
        el: "#shade3"
    });
    //
    var shade1 = new Vue({
        el: "#shade1"
    });
    $(function () {
        //     $('#proMang .top ul li a').mousemove(function(){
        //         $(this).addClass('addClass').parent().siblings().find('a').removeClass('addClass')
        //   })
        total($(".dropdown ul li"),$(".dropdown .dropdown-selected"),$(".dropdown ul"),$(".dropdown"));
        total($(".dropdown1 ul li"),$(".dropdown1 .dropdown-selected1"),$(".dropdown1 ul"),$(".dropdown1"));
        total($(".dropdown2 ul li"),$(".dropdown2 .dropdown-selected2"),$(".dropdown2 ul"),$(".dropdown2"));
        $(document).ready(function(){
            $('#leftMenu_Box').css('background', '#040b29');
            $('#proMang .top').css('background', '#fff')
        });
    });
</script>
</body>
</html>
