<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>智能通信运营管理平台</title>
    <link rel="stylesheet" href="../../css/style.css"/>
    <link rel="stylesheet" href="../../css/layui.css"/>
    <script src="../../js/api.js"></script>
    <script src="../../js/jquery-3.0.0.min.js"></script>
    <script src="../laydate/laydate.js"></script>
    <script src="../../js/vue.min.js"></script>
</head>
<!--[if IE 9]>
<style>
    #leftMenu_Box{
        width: 15.08%;
        height: 979px;
        float: left;
        background: #040b29 !important;
        position: relative;
        box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.5);
    }
</style>
<![endif]-->
<style>

    /*#page{*/
        /*padding: 27px 0 16px 0;*/
    /*}*/
    #leftMenu_Box .leftMenu ul li div.prop a.prop7{
        background-color: #1890FF !important;
        color: #fff !important;
    }
    /*.sw_row tr td{*/
        /*padding: 14px 0;*/
    /*}*/
    .sw_row tr td:nth-child(9){
        padding: 8px 0;
    }
    .shade_con3{
        width: 1000px;
        height:auto;
    }
    .shade_con{
        width: 380px;
        height:auto;
    }
    .shade_con1{
        width: 1000px;
        height: 340px;
    }
    .shade_con3 .temp,.shade_con1 .temp,.shade_con .temp{
        height: auto;
        width: auto;
        border: none;
        margin: 10px 22px 0 22px;
    }
    .lable{
        font-size: 15px !important;
        padding: 12px 0 !important;
    }
    /*.layui-inline label{
        padding: 8px 0;
    }*/
    .sw_btn1{
        margin: 33px 0 0 0px;
    }
    .sw_row tr td div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .sw_row tr td:nth-child(3) div{
        max-width: 105px;
    }
    .sw_row tr td:nth-child(6) div{
        max-width: 160px;
    }
    .sw_row tr td:nth-child(7) div{
        max-width: 160px;
    }
    #text2,#text3{
        width: 912px;
        height: 100px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        padding: 7px;
    }
    .layui-form-select dl{
        top: -40px !important;
    }
    #shade3 .shade_con3 .layui-inline label{
        padding: 12px 0;
    }
    @media screen and (max-width: 1600px) {
        .shade_con3{
            width: 1020px;
        }
        .shade_con3 .temp{
            overflow-y: auto;
            height: 470px;
        }
    }
    .fileinput-button {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .fileinput-button input{
        position:absolute;
        right: 0px;
        top: 0px;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        /*font-size: 200px;*/
            width: 100%;
    }
    /*@media screen and (max-width: 1440px) {*/
        /*.layui-inline .layui-input-inline{*/
            /*width: 125px;*/
        /*}*/
        /*.dropdown, .dropdown1{*/
            /*width: 125px;*/
        /*}*/
    /*}*/
</style>
<body>
<div id="sw_load">
    <img  src="../../img/load.gif">
</div>
<div id="proMang">
    <div class="top"><img src="../../img/logo.png" alt="" class="logo">
        <ul>
            <li class="top-a-box" data-value="210"><a href="../workbench/order_fail.html"><span
                    class="iconfont icon-diannao" style="font-size: 22px;"></span>
                工作台
            </a></li>
            <li class="top-a-box " data-value="211"><a href="../user_manage/user_manage.html">
                <span class="iconfont icon-yonghu" style="font-size: 22px;"></span>
                用户管理
            </a></li>
            <li class="top-a-box " data-value="212"><a href="../order_manage/order_manage.html"><span
                    class="iconfont icon-dingdanguanli" style="font-size: 22px;"></span>
                订单管理
            </a></li>
            <li class="top-a-box addClass" data-value="213"><a href="./take_orders.html"><span
                    class="iconfont icon-iconfonticon-shebei" style="font-size: 22px;"></span>
                资源配置
            </a></li>
        </ul>
        <div class="sign">
            <span class="ren"></span> <span class="type"></span>
            <img src="../../img/退出.png" alt=""  onclick="sign()">
        </div>
    </div>
</div>
<div class="main-box">
    <!-- 左侧菜单 -->
    <div id="leftMenu_Box" class="resource">
        <div class="leftMenu">
            <ul>
                <li class="left_a dn addclass_one" data-value="21313"><a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
                    <span class="iconfont icon-iconfonticon-baobia"></span>
                    接单模板配置
                    <i class="iconfont icon-icon11 "></i></a>

                    <div class="prop dbs">
                        <a href="javascript:void(0);" data-value="2131310" class="prop7 left_a dn sw_url">接单模板</a>
                        <a href="./signature_manage.html" data-value="2131311" class="prop8 left_a dn sw_url">签名管理</a>
                        <a href="./template_manage.html" data-value="2131312" class="prop9 left_a dn sw_url">模板管理</a>
                        <a href="./gateway.html" data-value="2131313" class="prop10 left_a dn sw_url">网关签名</a>
                    		<a href="./shortChain.html" data-value="2131314" class="prop18 left_a dn sw_url">智能短链</a>
                    </div>
                </li>
                <li class="left_a dn " data-value="21315">
                    <a href="./test_send.html" class="leftNav sw_url" style="padding: 20px;">
                        <span class="iconfont icon-fasong"></span>
                        测试发送
                    </a>
                </li>
                <li class="left_a dn" data-value="21310"><a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
                    <span  class="iconfont icon-diannao-shuju" ></span>
                    基础数据配置
                    <i class="iconfont icon-iconfontfold"></i> </a>
                    <div class="prop dns">
                        <a href="./sensitive_word.html" data-value="2131010" class="prop1 left_a dn sw_url">敏感词部署</a>
                        <a href="./rate_limiting.html" data-value="2131011" class="prop2 left_a dn sw_url">下单限速</a>
                        <a href="./risk_list.html" data-value="2131012" class="prop3 left_a dn sw_url">危险词</a>
                        <a href="./home_location.html" data-value="2131013" class="prop24 left_a dn">归属地维护</a>
                        <a href="./home_protect.html" data-value="2131013" class="prop25 left_a dn">归属地保护</a>
                    </div>
                </li>
                <li class="left_a  dn" data-value="21311"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-peizhishujuyuan"></span>
                    网关配置
                    <i class="iconfont icon-iconfontfold"></i></a>

                    <div class="prop dns">
                        <a href="./definition_gate.html" data-value="2131110" class="prop4 left_a dn sw_url">定义网关</a>
                        <a href="./route_manage.html" data-value="2131111" class="prop5 left_a dn sw_url">配置路由</a>
                        <a href="./route_list.html" data-value="2131112" class="prop6 left_a dn sw_url">通路选择</a>
                        <a href="./gateway_send.html" data-value="2131113" class="prop16 left_a dn sw_url">网关发送</a>
                        <a href="./user_data.html" data-value="2131114" class="prop17 left_a dn sw_url">用户数据统计</a>
                    </div>
                </li>
                <!--<li class="left_a  " data-value="21312">-->
                    <!--<a href="javascript:void(0);" class="leftNav" style="padding: 20px;">-->
                        <!--<span class="iconfont icon-guanli"></span>-->
                        <!--通路配置-->
                    <!--</a>-->
                <!--</li>-->

                <li class="left_a dn " data-value="21314"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-moban"></span>
                    被叫配置
                    <i class="iconfont icon-iconfontfold"></i></a>

                    <div class="prop dns">
                        <a href="./list_set.html" data-value="2131410" class="prop11 left_a dn sw_url">黑名单</a>
                        <a href="./vip_list.html" data-value="2131411" class="prop12 left_a dn sw_url">VIP白名单</a>
                        <a href="./unsubscribe.html" data-value="2131412" class="prop13 left_a dn sw_url">退订名单</a>
                    </div>
                </li>
                <li class="left_a dn " data-value="21316"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-peizhishujuyuan"></span>
                    风险控制
                    <i class="iconfont icon-iconfontfold"></i></a>
                    <div class="prop dns">
                        <a href="./risk_rule.html" data-value="2131610" class="prop21 left_a dn sw_url">风控规则</a>
                        <a href="./risk_result.html" data-value="2131611" class="prop22 left_a dn sw_url">风控结果</a>
                        <a href="./report_take.html" data-value="2131612" class="prop23 left_a dn sw_url">告警订阅</a>
                    </div>
                </li>
            </ul>
            <div class="group" onclick="flexible(event)"><span class="iconfont icon-xiangzuo"style="color: rgb(255, 255, 255); font-size: 13px;"></span></div>
        </div>
    </div>
    <div id="rightTable">
        <v-order-fail></v-order-fail>
    </div>
</div>
<div id="shade3">
    <v-rate></v-rate>
</div>
<div id="shade1" >
    <v-import></v-import>
</div>
<div id="shade" >
    <v-edit></v-edit>
</div>
<script type="text/x-template" id="order-template" >
    <div>
        <div class="table_tou">
            <h6 class="fl">接单模板管理</h6>
            <div class="fr sw_padd">
            <span class="sw_num"
                  v-cloak >{{totalCount}}</span
                    >&nbsp; &nbsp;<span style="color:#738495">条记录</span>
            <span class="Gradual" @click="shade()">
              <span
                      class="iconfont icon-jiekuanshenqing"
                      >&nbsp;新增</span
                      >
            </span>
             <span class="Gradual" @click="imports()">
              <span
                      class="iconfont icon-daoru1"
                      >&nbsp;导入</span
                      >
            </span>
             <span class="Gradual" @click="importFile()">
              <span
                      class="iconfont icon-export"
                      >&nbsp;导出</span
                      >
            </span>
            </div>
        </div>
        <div class="table_nav">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-inline">
                    <label class="">模板ID</label><br />
                    <div class="layui-input-inline">
                        <input
                                type="text"
                                name="templateId"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">模板名</label><br />
                    <div class="layui-input-inline">
                        <input
                                type="text"
                                name="templateName"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline dropdown">
                    <label class="">用户名</label><br />
                    <input type="text" class="dropdown-selected"
                           name="userId" autocomplete="off" placeholder="请输入">
                    <ul class="dns">
                        <li v-for="(li, index) in userData">
                            <a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="layui-inline">
                    <label class="">模板长度</label><br />
                    <div class="layui-input-inline">
                        <input
                                type="text"
                                name="expressionSize"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">优先级</label><br />
                    <div class="layui-input-inline">
                        <input
                                type="text"
                                name="priority"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">短信内容</label><br />
                    <div class="layui-input-inline" style="width:250px">
                        <input
                                type="text"
                                name="msgContent"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">匹配表达式</label><br />
                    <div class="layui-input-inline" style="width:250px">
                        <input
                                type="text"
                                name="expression"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <br>
                <div class="layui-inline" >
                    <label class="">内容分类</label>
                    <div class="layui-input-inline" style="width:auto !important;height: auto;display: inline;">
                        <input
                                type="checkbox"
                                :value="li.bizTypeId"
                                name="bizType"
                                lay-skin="primary"
                                :title="li.bizTypeName"
                                v-for="(li, index) in content"
                                />
                    </div>
                </div><br>
                <div class="layui-inline" style="width: 35%">
                    <label class="">接单动作</label>
                    <div class="layui-input-inline" style="width:auto !important">
                        <input
                                type="checkbox"
                                :value="index+1"
                                name="actionType"
                                lay-skin="primary"
                                :title="li"
                                v-for="(li, index) in content1"
                                />
                    </div>
                </div>
                <div class="layui-inline" style="width: 35%">
                    <label class="padR_23">状态</label>
                    <div class="layui-input-inline" style="width:auto !important">
                        <input
                                type="checkbox"
                                name="statusInt"
                                :value="index"
                                lay-skin="primary"
                                :title="li"
                                v-for="(li, index) in content2"
                                />
                    </div>
                </div>
                <div class="layui-inline" style="width: 35%">
                    <label class="padR_10">合并方式</label>
                    <div class="layui-input-inline" style="width: auto !important;">
                        <input type="radio" name="mergeType" value="1" title="模版合并">
                        <input type="radio" name="mergeType" value="2" title="相同合并">
                        <input type="radio" name="mergeType" value="3" title="相似合并">
                    </div>
                </div>
                <div class="layui-inline" style="width: 35%">
                    <label class="padR_10">Z转A</label>
                    <div class="layui-input-inline" style="width: auto !important;">
                        <input type="radio" name="z2a" value="0" title="不允许延迟">
                        <input type="radio" name="z2a" value="1" title="允许延迟">
                        <input type="radio" name="z2a" value="2" title="延迟且可转A">
                    </div>
                </div>
                <div class="layui-input-inline" style="position: absolute; right: 20px;bottom: 15px; z-index: 111;">
                    <button class="sw_btn1" lay-submit="" lay-filter="demo" style="margin: 0px">
                        查询
                    </button>
                    <span class="sw_btn1" @click="edit()"style="margin: 0px">
                        批量修改
                    </span>
                    <span class="sw_btn1" lay-submit="" lay-filter="demo2" style="margin: 0px">
                        批量删除
                    </span>
                </div>
            </form>
            <div class="sw_row">
                <table style="margin-top: 15px;min-width: 1500px;">
                    <tr>
                        <th>
                            <form class="layui-form layui-form-pane" action="" style="padding:0px;border:none" @click="check_all($event)">
                                <input
                                        type="checkbox"
                                        name="全选"
                                        lay-skin="primary"
                                        title=""
                                        />
                            </form>
                        </th>
                        <th style="width:63px">模板ID</th>
                        <th >模板名称</th>
                        <th >创建时间</th>
                        <th>用户名</th>
                        <th >短信内容</th>
                        <th >模板内容</th>
                        <th >内容分类</th>
                        <th >匹配优先级</th>
                        <th >有效期</th>
                        <th >接单动作</th>
                        <th>状态</th>
                        <th >发送速度/S</th>
                        <th>合并方式</th>
                        <th style="width:190px;text-align: center;">操作</th>
                    </tr>
                    <tr v-cloak v-for="(li, index) in allData">
                        <td>
                            <form class="layui-form layui-form-pane" action="" style="padding:0px;border:none" @click="radio($event)">
                                <input
                                        type="checkbox"
                                        class="radio"
                                        name="多项"
                                        :data="li.templateId"
                                        lay-skin="primary"
                                        title=""
                                        />
                            </form>
                        </td>
                        <td>{{li.templateId}}</td>
                        <td>
                            <div :title="li.templateName">{{li.templateName}}</div>
                        </td>
                        <td>{{li.createTime | limitTo}}</td>
                        <td>{{li.loginName}}</td>
                        <td>
                            <div :title="li.msgContent">{{li.msgContent}}</div>
                        </td>
                        <td>
                            <div :title="li.expression">{{li.expression}}</div>
                        </td>
                        <td>
                    <span v-for="(item, index) in content" >
                        <i v-if="li.bizType == item.bizTypeId">{{item.bizTypeName}}</i>
                    </span>
                        </td>
                        <td>{{li.priority}}</td>
                        <td>{{li.isExpire}}</td>
                        <td>
                    <span v-for="(item, index) in content1" >
                        <i v-if="li.actionType == index+1">{{item}}</i>
                    </span>
                        </td>
                        <td>
                    <span v-for="(item, index) in content2" >
                        <i v-if="li.statusInt == index">{{item}}</i>
                    </span>
                        </td>
                        <td>{{li.speed}}</td>
                        <td>
                            <span v-if="li.mergeType == '1'">模版合并</span>
                            <span v-if="li.mergeType == '2'">相同合并</span>
                            <span v-if="li.mergeType == '3'">相似合并</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="sw_btn2 " @click="amend(li.templateId)">修改</span>
                            <span class="sw_btn2 " @click="test(li.templateId)">测试</span>
                            <span class="sw_btn3" @click="del(li.templateName,li.templateId)">删除</span>
                        </td>
                    </tr>
                </table>
                <div class="sw_pad8" v-show="showNo == true">暂无数据</div>
            </div>
            <div id="page"></div>
            <div id="shade2">
                <div class="tips2">
                    <div class="weizhi">
                        <img src="../../img/warming.png" alt="">
                    </div>
                    <div class="tc" v-cloak>
                        您确认删除该模板为：{{delName}}？
                    </div>
                    <div class="tc">
                        <button class="sw_btnsuss" @click="sw_btnsuss()">确认</button>
                        <button class="sw_btnwrong marl_15" @click="sw_btnwrong()">取消</button>
                    </div>
                </div>
                <div class="tips_chid2">
                    <div class="weizhi">
                        <img src="../../img/success.png" alt="">
                    </div>
                    <div class="tc">
                        删除该模板成功！
                    </div>
                    <div class="tc">
                        <button class="sw_btnsuss" @click="sw_qued()">确认</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</script>
<script type="text/x-template" id="rate-template">
    <div class="shade_con3">
        <div class="tongji">
            <h3 v-if="code == 0">新增模板</h3>
            <h3 v-if="code == 1">修改模板</h3>
            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
        </div>
        <div class="temp">
            <form class="layui-form layui-form-pane" action="" style="padding: 15px 0 45px 20px;">
                <div class="layui-inline" >
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 模板名</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="templateName"
                                v-model="Info.templateName"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline dropdown1 unlike2">
                    <label class="">用户名</label><br />
                    <input type="text" class="dropdown-selected1"
                           :data="Info.userId" name="userId" autocomplete="off" placeholder="请输入">
                    <ul class="dns">
                        <li v-for="(li, index) in userData1">
                            <a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
                        </li>
                    </ul>
                </div><br>
                <em style="margin: 10px 0px 10px;display: inline-block;"><span style="color:#FE2121;font-weight:600;">*</span> 短信内容</em>
                <textarea name="msgContent" v-model="Info.msgContent" id="text2" placeholder="请输入"></textarea>
                <em style="margin: 10px 0px 10px;display: inline-block;"><span style="color:#FE2121;font-weight:600;">*</span> 模板内容</em>
                <textarea name="expression" v-model="Info.expression" id="text3" placeholder="请输入"></textarea>
                <div class="layui-inline" >
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 内容分类</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="bizType" id="eventLevel">
                            <option value="">请选择</option>
                            <option
                                    v-for="(li, index) in content"
                                    :value="li.bizTypeId"
                                    >{{li.bizTypeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 匹配优先级</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="priority"
                                v-model="Info.priority"
                                placeholder="请输入"
                                class="layui-input yxj"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 接单动作</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="actionType" id="eventLevelTwo">
                            <option value="4" selected>接受</option>
                            <option value="3">先发后审</option>
                            <option value="2">先审后发</option>
                            <option value="1">拒绝</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 状态</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="statusInt" id="eventLevelThree">
                            <option value="1" selected>可用</option>
                            <option value="0">不可用</option>
                            <option value="2">测试</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 同一内容周期内发送数量（条）</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="taskCount"
                                v-model="Info.taskCount"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 同一内容发送周期（秒）</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                v-model="Info.taskPeriod"
                                name="taskPeriod"
                                placeholder="请输入"
                                class="layui-input phone"
                                />
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 合并方式</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="mergeType" id="eventLevelHour">
                            <option value="1" selected>模板合并</option>
                            <option value="2">相同合并</option>
                            <option value="3">相似合并</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">过期时间</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input type="text"  name="expireTime" v-model="Info.expireTime" class="layui-input" autocomplete="off" id="test"  />
                        <img src="../../img/Shape.png" alt="" />
                    </div>
                </div><br>
                <div class="layui-input-inline" style="    width: 98%;text-align: center;">
                    <button class="sw_btn1"  lay-submit="" lay-filter="demo6" v-if="code == 0">
                        新增
                    </button>
                <span class="sw_btn1 " v-if="code == 1" lay-submit="" lay-filter="demo8">
                  修改
                </span>
                 <span class="sw_btn1 " v-if="code == 1" @click="change_business()">
                  营销 <i class="iconfont icon-web__bitebiyoujiantou" style="margin-right: 0px;"></i> 行业
                </span>
                <span class="sw_btn1" v-if="code == 1" @click="change_Hang()">
                  行业 <i class="iconfont icon-web__bitebiyoujiantou" style="margin-right: 0px;"></i> 挂机
                </span>
                </div>

            </form>
        </div>
    </div>
</script>
<script type="text/x-template" id="import-template">
    <div class="shade_con1">
        <div class="tongji">
            <h3>导入接单模板</h3>
            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
        </div>
        <div class="temp">
            <form class="layui-form layui-form-pane" action="" style="padding: 10px 0px 15px 20px;">
                <div class="layui-inline dropdown1 unlike1" style="width:296px">
                    <label class="">用户名</label><br />
                    <input type="text" class="dropdown-selected1"
                           name="userId" autocomplete="off" placeholder="请输入">
                    <ul class="dns">
                        <li v-for="(li, index) in userData">
                            <a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="layui-inline">
                    <label class="">内容分类</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="bizType" id="bizType">
                            <option value="">请选择</option>
                            <option :value="li.bizTypeId" v-for="(li, index) in content">{{li.bizTypeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">匹配优先级</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="priority"
                                v-model="data2.priority"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">接单动作</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="actionType" id="actionType">
                            <option value="4" selected>接受</option>
                            <option value="3">先发后审</option>
                            <option value="2">先审后发</option>
                            <option value="1">拒绝</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class="">账户状态</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="statusInt" id="statusInt">
                            <option value="1" selected>可用</option>
                            <option value="0">不可用</option>
                            <option value="2">测试</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class="">合并方式</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="mergeType" id="mergeType">
                            <!--<option value="">请选择</option>-->
                            <option value="1" selected>模版合并</option>
                            <option value="2">相同合并</option>
                            <option value="3">相似合并</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">同一内容周期内发送数量（条）</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="taskCount"
                                v-model="data2.taskCount"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">同一内容发送周期（秒）</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="taskPeriod"
                                v-model="data2.taskPeriod"
                                class="layui-input"
                                />
                    </div>
                </div><br>
                <div class="layui-inline">
                    <div class="fileinput-button"  style="width: 110px;margin-top: 25px;margin-left: 300px;">
                        <!--<span class="Gradual1" >批量导入</span>-->
                        <span class="Gradual1" >批量导入</span>
                        <input id="file" type="file" />
                    </div>
                    <!--<div class="layui-input-inline" style="width: 110px;margin-top: 75px;margin-left: 300px;"><span class="Gradual1 test3" >-->
                               <!--批量导入-->
                     <!--</span></div>-->
                    <a href="../../js/importsendSms.xls" style="padding:2px 0px; font-size: 13px;color: #3C84D2;border-bottom: 2px solid; font-weight: 600;vertical-align: bottom;display: inline-block;">
                        导入模板下载
                    </a>
                </div>
                <div class="layui-input-inline">
                    <button lay-submit="" lay-filter="demo7" class="sw_btn1" style="margin:30px 0px 0px 15px;">
                        确定导入
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/x-template" id="edit-template">
    <div class="shade_con">
        <div class="tongji">
            <h3>批量修改</h3>
            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
        </div>
        <div class="temp">
            <form class="layui-form layui-form-pane" action="" style="padding: 15px 0 20px 20px;">
                <div class="layui-inline">
                    <label class="">内容分类</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="bizType" id="sw_bizType">
                            <option value="">请选择</option>
                            <option :value="li.bizTypeId" v-for="(li, index) in content">{{li.bizTypeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">接单动作</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="actionType" id="sw_actionType">
                            <option value="4" selected>接受</option>
                            <option value="3">先发后审</option>
                            <option value="2">先审后发</option>
                            <option value="1">拒绝</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class="">账户状态</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="statusInt" id="sw_statusInt">
                            <option value="1" selected>可用</option>
                            <option value="0">不可用</option>
                            <option value="2">测试</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">匹配优先级</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <input
                                type="text"
                                name="priority"
                                v-model="data2.priority"
                                placeholder="请输入"
                                class="layui-input"
                                />
                    </div>
                </div>
                <br>
                <div class="layui-input-inline">
                    <button lay-submit="" lay-filter="demo1" class="sw_btn1" style="margin: 20px 0px 0px 100px;">
                        确定修改
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>
<script src="../../layui.all.js"></script>
<script src="../../module/take_orders.js"></script>
<script>
    //头部
//    var operaAI = new Vue({
//        el: "#proMang",
//        data: {
//            topCurrent: 3
//        }
//    });
//    //   //左侧菜单组件实例化
//    var leftMenu = new Vue({
//        el: "#leftMenu_Box",
//        data: {
//            current: 3
//        }
//    });
    resource()
    //   //左侧菜单组件实例化
    var rightTable = new Vue({
        el: "#rightTable"
    });
    //
    var shade3 = new Vue({
        el: "#shade3"
    });
    //
    var shade1 = new Vue({
        el: "#shade1"
    });
    var shade = new Vue({
        el: "#shade"
    });
    $(function () {
        laydate.render({
            elem: "#test", //指定元素
            type: 'datetime',
            value: ''
        });
        //     $('#proMang .top ul li a').mousemove(function(){
        //         $(this).addClass('addClass').parent().siblings().find('a').removeClass('addClass')
        //   })
        total($(".dropdown ul li"),$(".dropdown .dropdown-selected"),$(".dropdown ul"),$(".dropdown"));
        total($(".unlike2 ul li"),$(".unlike2 .dropdown-selected1"),$(".unlike2 ul"),$(".unlike2"));
        total($(".unlike1 ul li"),$(".unlike1 .dropdown-selected1"),$(".unlike1 ul"),$(".unlike1"));
        $(document).ready(function(){
           // $('#leftMenu_Box').css('background', '#040b29');
           // $('#proMang .top').css('background', '#fff');
            var href = $('.sw_url').eq(0).attr('href');
            window.open(href, "_self");
            setTimeout(function(){
               // console.log(href)
                $('#sw_load').remove()
                
            }, 500);
        });
    });
</script>
</body>
</html>
