<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>智能通信运营管理平台</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/layui.css" />
    <script src="../../js/api.js"></script>
    <script src="../../js/jquery-3.0.0.min.js"></script>
    <script src="../../js/kindeditor-all-min.js"></script>
    <script src="../../js/zh-CN.js"></script>
    <script src="../laydate/laydate.js"></script>
    <script src="../../js/vue.min.js"></script>
</head>
<!--[if IE 9]>
<style>
    #leftMenu_Box{
        width: 15.08%;
        height: 979px;
        float: left;
        background: #040b29 !important;
        position: relative;
        box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.5);
    }
</style>
<![endif]-->
<style>
    /*#page{*/
        /*padding: 45px 0 50px 0;*/
    /*}*/

    /*.sw_row tr td{*/
        /*padding: 17px 0px;*/
    /*}*/
    .sw_row tr td:nth-child(9){
        padding: 8px 0px;
    }
    #leftMenu_Box .leftMenu ul li div.prop a.prop9{
        background-color: #1890FF !important;
        color: #fff !important;
    }
    .table_tou{
        padding-left: 22px;
    }
    .table_tou h6{
        font-size: 15px;
		    color: rgba(143, 156, 170, 1);
		    cursor: pointer;
		    padding: 0px;
		    margin: 8px 25px 0px 0px;
		    padding-bottom: 6px;
    }
    .table_tou h5{
        font-size: 26px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(0,0,0,1);
        line-height: 37px;
        padding: 21px 22px;
    }
    .addClass2{
        border-bottom: 2px solid #3C84D2;
        font-size: 20px !important;
        color: #000 !important;
    }
    .shade_con3{
        width: 1010px;;
        height: auto;
        max-height: max-content;
    }
    .shade_con {
        width: 1000px;
        height: auto;
    }
    .shade_con .temp{
        height: auto;
    }
    .shade_con4{
        width: 1010px;;
        height: 405px;
    }
    .shade_con3 .temp,.shade_con4 .temp{
        height: auto;
        width: auto;
        border: none;
        background: unset;
    }

    .layui-form h5{
        width: 80px;
        height: 28px;
        font-size: 20px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(0,0,0,1);
        line-height: 28px;
        margin: 10px 0;
    }
    #text {
        width: 920px;
        height: 101px;
        margin: 10px 16px 0 22px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        padding: 7px;
    }
    .layui-form {
        border: none;
    }
    #text2 {
        width: 912px;
        height: 67px;
        margin: 10px 18px 0 0px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        padding: 7px;
    }
    #text3,#text4,#text5{
        width:610px;
        height: 95px;
        margin: 10px 18px 0 0px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        padding: 7px;
    }
    #text6,#text7{
        width:912px;
        height: 100px;
        margin: 10px 18px 0 0px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        padding: 7px;
    }
    .shade_con1 .temp em{
        padding: 10px 0 0px 0px;
    }
    .shade_con1 {
        width: 680px;
        height: auto;

    }
    .shade_con2 {
        width: 550px;
        height: 444px;
    }
    .layui-inline label {
        padding: 7px 0;
    }
    .ke-container {
        margin: 10px 0 0 0px !important;
    }
    .ke-statusbar{
        display: none;
    }
    .ke-colorpicker-cell-top{
        display: none !important;
    }
    .addClass4{
        background: #E1EFFF;
    }
    .layui-form-select dl{
        top: 0px !important;
    }
    @media screen and (max-width: 1600px) {
        .shade_con .temp{
            height: 400px;
            width: 970px;
            overflow-y: auto;
        }
        .shade_con1 {
            width: 690px;
        }
        .shade_con1 .temp{
            width: 670px;
            height:470px;
            overflow-y: auto;
        }
    }
</style>
<body>
<div id="proMang">
    <div class="top"><img src="../../img/logo.png" alt="" class="logo">
        <ul>
            <li class="top-a-box" data-value="210"><a href="../workbench/order_fail.html"><span
                    class="iconfont icon-diannao" style="font-size: 22px;"></span>
                工作台
            </a></li>
            <li class="top-a-box " data-value="211"><a href="../user_manage/user_manage.html">
                <span class="iconfont icon-yonghu" style="font-size: 22px;"></span>
                用户管理
            </a></li>
            <li class="top-a-box " data-value="212"><a href="../order_manage/order_manage.html"><span
                    class="iconfont icon-dingdanguanli" style="font-size: 22px;"></span>
                订单管理
            </a></li>
            <li class="top-a-box addClass" data-value="213"><a href="./take_orders.html"><span
                    class="iconfont icon-iconfonticon-shebei" style="font-size: 22px;"></span>
                资源配置
            </a></li>
        </ul>
        <div class="sign">
            <span class="ren"></span> <span class="type"></span>
            <img src="../../img/退出.png" alt=""  onclick="sign()">
        </div>
    </div>
</div>
<div class="main-box">
    <!-- 左侧菜单 -->
    <div id="leftMenu_Box" class="resource">
        <div class="leftMenu">
            <ul>
                <li class="left_a dn addclass_one" data-value="21313"><a href="javascript:void(0);" class="leftNav" onclick="aa(event)">
                    <span class="iconfont icon-iconfonticon-baobia"></span>
                    接单模板配置
                    <i class="iconfont icon-icon11"></i></a>

                    <div class="prop dbs">
                        <a href="./take_orders.html" data-value="2131310" class="prop7 left_a dn">接单模板</a>
                        <a href="./signature_manage.html" data-value="2131311" class="prop8 left_a dn">签名管理</a>
                        <a href="javascript:void(0);" data-value="2131312" class="prop9 left_a dn">模板管理</a>
                        <a href="./gateway.html" data-value="2131313" class="prop10 left_a dn">网关签名</a>
                        <a href="./shortChain.html" data-value="2131314" class="prop18 left_a dn sw_url">智能短链</a>
                    </div>
                </li>
                <li class="left_a dn " data-value="21315">
                    <a href="./test_send.html" class="leftNav" >
                        <span class="iconfont icon-fasong"></span>
                        测试发送
                    </a>
                </li>
                <li class="left_a dn" data-value="21310"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span  class="iconfont icon-diannao-shuju" ></span>
                    基础数据配置
                    <i class="iconfont icon-iconfontfold"></i> </a>
                    <div class="prop dns">
                        <a href="./sensitive_word.html" data-value="2131010" class="prop1 left_a dn">敏感词部署</a>
                        <a href="./rate_limiting.html" data-value="2131011" class="prop2 left_a dn">下单限速</a>
                        <a href="./risk_list.html" data-value="2131012" class="prop3 left_a dn">危险词</a>
                        <a href="./home_location.html" data-value="2131013" class="prop24 left_a dn">归属地维护</a>
                        <a href="./home_protect.html" data-value="2131013" class="prop25 left_a dn">归属地保护</a>
                    </div>
                </li>
                <li class="left_a dn " data-value="21311"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-peizhishujuyuan"></span>
                    网关配置
                    <i class="iconfont icon-iconfontfold"></i></a>

                    <div class="prop dns">
                        <a href="./definition_gate.html" data-value="2131110" class="prop4 left_a dn">定义网关</a>
                        <a href="./route_manage.html" data-value="2131111" class="prop5 left_a dn">配置路由</a>
                        <a href="./route_list.html" data-value="2131112" class="prop6 left_a dn">通路选择</a>
                        <a href="./gateway_send.html" data-value="2131113" class="prop16 left_a dn">网关发送</a>
                        <a href="./user_data.html" data-value="2131114" class="prop17 left_a dn">用户数据统计</a>
                    </div>
                </li>
                <!--<li class="left_a  " data-value="21312">-->
                    <!--<a href="javascript:void(0);" class="leftNav" style="padding: 20px;">-->
                        <!--<span class="iconfont icon-guanli"></span>-->
                        <!--通路配置-->
                    <!--</a>-->
                <!--</li>-->

                <li class="left_a dn " data-value="21314"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-moban"></span>
                    被叫配置
                    <i class="iconfont icon-iconfontfold"></i></a>

                    <div class="prop dns">
                        <a href="./list_set.html" data-value="2131410" class="prop11 left_a dn">黑名单</a>
                        <a href="./vip_list.html" data-value="2131411" class="prop12 left_a dn">VIP白名单</a>
                        <a href="./unsubscribe.html" data-value="2131412" class="prop13 left_a dn">退订名单</a>
                    </div>
                </li>
                <li class="left_a dn " data-value="21316"><a href="javascript:void(0);" class="leftNav"  onclick="aa(event)">
                    <span class="iconfont icon-peizhishujuyuan"></span>
                    风险控制
                    <i class="iconfont icon-iconfontfold"></i></a>
                    <div class="prop dns">
                        <a href="./risk_rule.html" data-value="2131610" class="prop21 left_a dn">风控规则</a>
                        <a href="./risk_result.html" data-value="2131611" class="prop22 left_a dn">风控结果</a>
                        <a href="./report_take.html" data-value="2131612" class="prop23 left_a dn">告警订阅</a>
                    </div>
                </li>
            </ul>
            <div class="group" onclick="flexible(event)"><span class="iconfont icon-xiangzuo"style="color: rgb(255, 255, 255); font-size: 13px;"></span></div>
        </div>
    </div>
    <div id="rightTable">
        <v-order-manage></v-order-manage>
    </div>
</div>
<div id="shade"><v-template></v-template></div>
<div id="shade1"><v-marry></v-marry></div>
<div id="select"><v-select></v-select></div>
<div id="shade4"><v-manage></v-manage></div>
<script type="text/x-template" id="order-template">
    <div>
        <div class="table_tou">
            <h6 class="fl addClass2">模板列表</h6>
            <h6 class="fl">二次审核模板</h6>
            <div class="fr sw_padd">
            <span class="sw_num"
                  v-cloak >{{totalCount}}</span>&nbsp; &nbsp;<span style="color:#738495">条记录</span>
            <span class="Gradual" v-if="code == 0">
              <span class="iconfont icon-iconfonticon-shezhi">&nbsp; 测试发送</span>
            </span>
            <span class="Gradual" v-if="code == 0" @click="shade()">
              <span class="iconfont icon-jiekuanshenqing" >&nbsp; 申请</span>
            </span>
             <span class="Gradual" v-if="code == 0"  @click="imports()">
              <span class="iconfont icon-daoru1" >&nbsp; 批量导入</span>
            </span>
            <span class="Gradual" v-if="code == 1">
              <span class="iconfont icon-iconfonticon-shezhi" >&nbsp; 刷新缓存</span>
            </span>
            <span class="Gradual" v-if="code == 1" @click="shadeTwo()">
              <span class="iconfont icon-daoru1">&nbsp; 新增</span>
            </span>
            <span class="Gradual" v-if="code == 1"  @click="importTwo()">
              <span class="iconfont icon-daoru1" >&nbsp; 导入</span>
            </span>
            <span class="Gradual" v-if="code == 1">
              <span class="iconfont icon-export" >&nbsp; 导出</span>
            </span>
            </div>
        </div>
        <div class="table_nav">
            <form class="layui-form layui-form-pane" action="" style="border-bottom: 1px solid #F0F4F8;padding: 0 0 15px 20px;" >
                <div class="list">
                    <div class="layui-inline">
                        <label class="">模板ID</label><br />
                        <div class="layui-input-inline">
                            <input
                                    type="text"
                                    name="tempID"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">模板名</label><br />
                        <div class="layui-input-inline">
                            <input
                                    type="text"
                                    name="tempName"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">匹配内容</label><br />
                        <div class="layui-input-inline">
                            <input
                                    type="text"
                                    name="reg_exp"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline" >
                        <label class="">内容分类</label><br />
                        <div class="layui-input-inline">
                            <select name="templateType">
                                <option :value="li.bizTypeId" v-for="(li, index) in content">{{li.bizTypeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">模板分类</label><br />
                        <div class="layui-input-inline">
                            <select name="templateType">
                                <option value="">请选择</option>
                                <option value="1">行业短信</option>
                                <option value="2">营销广告</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">模板特性</label><br />
                        <div class="layui-input-inline">
                            <select name="actionType">
                                <option value="">请选择</option>
                                <option value="1">需审核后发送的宽模板</option>
                                <option value="2">拒绝下单</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline dropdown ">
                        <label class="">用户名</label><br />
                        <input type="text" class="dropdown-selected"
                               name="userId" autocomplete="off" placeholder="请输入">
                        <ul class="dns">
                            <li v-for="(li, index) in userData">
                                <a href="javaScript:" :data="li.userId">{{li.loginName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="layui-input-inline">
                        <button class="sw_btn1" lay-submit="" lay-filter="demo11">
                            查询
                        </button>
                    </div>
                </div>
                <div class="list2 dn">
                    <div class="layui-inline">
                        <label class="">开始时间</label><br />
                        <div class="layui-input-inline">
                            <input type="text" name="strat" class="layui-input" id="test" placeholder="2018-12-13" />
                            <img src="../../img/Shape.png" alt="" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">结束时间</label><br />
                        <div class="layui-input-inline">
                            <input type="text" name="end" class="layui-input" id="test1" placeholder="2018-12-13" />
                            <img src="../../img/Shape.png" alt="" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">操作用户</label><br />
                        <div class="layui-input-inline">
                            <input
                                    type="text"
                                    name="order"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">模板内容</label><br />
                        <div class="layui-input-inline">
                            <input
                                    type="text"
                                    name="order"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">SN</label><br />
                        <div class="layui-input-inline">
                            <input
                                    type="text"
                                    name="order"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">模板分类</label><br />
                        <div class="layui-input-inline">
                            <select name="gateway">
                                <option value="">请选择</option>
                                <option value="1">放行模板</option>
                                <option value="2">拒绝模板</option>
                                <option value="3">先发后审</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">优先级</label><br />
                        <div class="layui-input-inline">
                            <select name="gateway">
                                <option value="">全部</option>
                                <option value="3">低</option>
                                <option value="5">中</option>
                                <option value="7">高</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">分组名</label><br />
                        <div class="layui-input-inline">
                            <select name="gateway">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">匹配内容</label><br />
                        <div class="layui-input-inline" style="width:250px">
                            <input
                                    type="text"
                                    name="order"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <button class="sw_btn1" lay-submit="" lay-filter="demo11">
                            查询
                        </button>
                    </div>
                </div>
            </form>
            <div class="sw_row" v-if="code == 0" >
                <table style="margin-top: 15px;min-width:1435px">
                    <tr>
                        <th style="width:75px">模板ID</th>
                        <th style="width:80px">模板名称</th>
                        <th style="width:90px">模板分类</th>
                        <th style="width:80px">内容分类</th>
                        <th style="width:236px">模板内容</th>
                        <th style="width:145px">匹配内容</th>
                        <th style="width:82px">专属用户</th>
                        <th style="width:70px">优先级</th>
                        <th style="width:98px">模板状态</th>
                        <th style="width:98px">模板特性</th>
                        <th style="width:70px">暂停</th>
                        <th style="width:94px">合并</th>
                        <th style="width:82px">专属</th>
                        <th style="width:230px;text-align: center;">操作</th>
                    </tr>
                    <tr v-cloak  v-for="(li, index) in allData" >
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.ip}}</td>
                        <td >{{li.logins}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >
                            <span class="sw_btn2 marr_5" @click="amendThree()">是否匹配</span>
                            <span class="sw_btn2 marr_5" @click="amend()">修改</span>
                            <span class="sw_btn3" @click="del()">删除</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="sw_row" v-if="code == 1" style=" height: 632px;">
                <table style="margin-top: 15px;">
                    <tr>
                        <th style="width:86px">SN</th>
                        <th style="width:397px">模板原内容</th>
                        <th style="width:325px">匹配内容</th>
                        <th style="width:87px">状态</th>
                        <th style="width:60px">优先级</th>
                        <th style="width:80px">网关分组</th>
                        <th style="width:85px">操作用户</th>
                        <th style="width:175px">操作时间</th>
                        <th style="width:200px;text-align: center;">操作</th>
                    </tr>
                    <tr v-cloak v-for="(li, index) in allData" >
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.logins}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >{{li.id}}</td>
                        <td >
                            <span class="sw_btn2 marr_5" @click="amendTwo()">修改</span>
                            <span class="sw_btn3" @click="del()">删除</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="page"></div>
            <div id="shade3">
                <div class="shade_con3">
                    <div class="tongji"><h3>批量模板导入</h3> <span class="iconfont icon-shanchu" @click="shanchu()"></span></div>
                    <div class="temp" style="margin-bottom: 20px;">
                        <form action="" class="layui-form layui-form-pane" style="background: #fbfbfb;padding:0 0 45px 20px;">
                            <div class="layui-inline">
                                <label class="">模板分类</label><br />
                                <div class="layui-input-inline" style="width:300px">
                                    <select name="templateType" id="">
                                        <option value="1">行业短信</option>
                                        <option value="2">营销广告</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" >
                                <label class="">内容分类</label><br />
                                <div class="layui-input-inline"  style="width:300px">
                                    <select name="templateType">
                                        <option :value="li.bizTypeId" v-for="(li, index) in content">{{li.bizTypeName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" >
                                <label class="">模板类型</label><br />
                                <div class="layui-input-inline" style="width:300px">
                                    <select name="industry">
                                        <option value="2">普通模板</option>
                                        <option value="0">验证码</option>
                                        <option value="1">10658行业</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="">优先级</label><br />
                                <div class="layui-input-inline" style="width:300px">
                                    <input
                                            type="text"
                                            placeholder="请输入"
                                            class="layui-input"
                                            />
                                </div>
                            </div>
                            <div class="layui-inline" >
                                <label class="">合并类型</label><br />
                                <div class="layui-input-inline" style="width:300px">
                                    <select name="templateType">
                                        <option value="1">模板合并</option>
                                        <option value="2">相同合并</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" >
                                <label class="">模板特性</label><br />
                                <div class="layui-input-inline" style="width:300px">
                                    <select name="actionType" >
                                        <option value="1">需审核后发送的宽模板</option>
                                        <option value="2">拒绝下单</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" >
                                <label class="">是否是私有</label><br />
                                <div class="layui-input-inline" style="width:300px">
                                    <select name="IsPrivate" >
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="layui-inline">
                                <div class="layui-input-inline" style="width: 110px;margin-top: 35px;margin-left: 300px;">
                                    <span class="Gradual1 test5">
                                           批量导入
                                    </span>
                                </div>
                                <div class="layui-input-inline" style="width: 110px;margin-top: 35px;">
                                    <span class="Gradual1">
                                           导出
                                    </span>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="tips2">
                    <div class="weizhi">
                        <img src="../../img/warming.png" alt="">
                    </div>
                    <div class="tc">
                        您确认删除下单限速ID为：1的这条下单限速记录吗？
                    </div>
                    <div class="tc">
                        <button class="sw_btnsuss" @click="sw_btnsuss()">确认</button>
                        <button class="sw_btnwrong marl_15" @click="sw_btnwrong()">取消</button>
                    </div>
                </div>
                <div class="tips_chid2">
                    <div class="weizhi">
                        <img src="../../img/success.png" alt="">
                    </div>
                    <div class="tc">
                        删除下单速度成功！
                    </div>
                    <div class="tc">
                        <button class="sw_btnsuss" @click="sw_qued()">确认</button>
                    </div>
                </div>
            </div>
        </div>
</script>
<script type="text/x-template" id="shade-template">
    <div>
        <div class="shade_con">
            <div class="tongji">
                <h3 v-if="code == 0">申请模板</h3>
                <h3 v-if="code == 1">查看模板</h3>
                <h3 v-if="code == 2">审核模板</h3>
                <span class="iconfont icon-shanchu" @click="shanchu()"></span>
            </div>
            <div class="temp">
                <form class="layui-form layui-form-pane" action="">
                    <p v-if="code == 0">
                        * 需要更改的地方请先选中，后点击下发的A按钮选择红色；
                        需要取消标记的地方请先选中，后点击删除文字格式按钮
                    </p><br>
                    <em> <span style="color:#FE2121;font-weight:600;" v-if="code != 1">*</span> 模板内容</em>
                    <textarea id="editor_id" name="templateSms" style="width:912px;height:90px;padding-left: 22px"></textarea>
                    <div class="layui-inline" >
                        <label class=""> <span style="color:#FE2121;font-weight:600;"  v-if="code != 1">*</span> 模板分类</label><br />
                        <div class="layui-input-inline" style="width:300px">
                            <select name="templateType" id="eventLevel">

                                <option value="1">行业短信</option>
                                <option value="2">营销广告</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">申请人</label><br />
                        <div class="layui-input-inline" style="width:300px">
                            <input
                                    type="text"
                                    v-model="showData.loginName"
                                    placeholder="请输入"
                                    class="layui-input"
                                    disabled
                                    style="background: #ECECEC;"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline" >
                        <label class="">审核人员</label><br />
                        <div class="layui-input-inline" style="width:300px">
                            <input
                                    type="text"

                                    placeholder="请输入"
                                    class="layui-input"
                                    disabled
                                    style="background: #ECECEC;"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline" >
                        <label class="">挂机模板</label>
                        <div class="layui-input-inline" style="width: 250px;box-sizing: border-box;padding-left: 10px;">
                            <input type="radio" lay-filter="a" name="a"  value="是" title="是" >
                            <input type="radio" lay-filter="a" name="a"  value="否" title="否" checked>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">主机号码</label><br />
                        <div class="layui-input-inline" style="width:300px">
                            <input
                                    type="text"
                                    name="miguMobile"
                                    v-model="showData.miguMobile"
                                    class="layui-input phone"
                                    disabled
                                    style="background: #ECECEC;"
                                    />
                        </div>
                    </div> <br>
                    <em> 备注</em>
                    <textarea name="remark" id="text2" placeholder="请输入"  v-model="showData.remark"></textarea>
                    <div>
                        <p style="padding-top:8px;font-size:12px" v-if="code == 0">
                            * 模板内容请填写真实的发送内容，然后将要变化的部分标记成红色
                            （不要用*#之类的符号来表示要变化的内容），如有需要特别申明的请写在备注中
                        </p>
                    </div>


                    <div class="layui-input-inline">
                        <button class="sw_btn1" style="margin-left: 410px;margin-bottom: 20px;" lay-submit="" lay-filter="demo6"  v-if="code == 0">
                            确认申请
                        </button>
                <span class="sw_btn1" style="margin-left: 360px;margin-bottom: 20px;" lay-submit="" lay-filter="demo9" @click="again(showData.templateId)"  v-if="satus == -1">
                  重新申請
                </span>
                <span class="sw_btn1" style="margin-right: 10px;" v-if="satus == -1" @click="remove(showData.templateId)">
                  刪除
                </span>
                <span class="sw_btn1" style="margin-left: 390px;margin-right: 15px;margin-bottom: 20px;"  v-if="code == 1 && satus != -1"  @click="refuse(showData.templateId)">
                  拒绝
                </span>
                <span class="sw_btnwrong "  v-if="code == 1">
                  关闭
                </span>
                <span class="sw_btn1" style="margin-left: 380px;margin-bottom: 20px;"  v-if="code == 2">
                  模板匹配
                </span>
                <span class="sw_btn1"  v-if="code == 2" @click="refuse(showData.templateId)">
                  拒绝
                </span>
                    </div>

                </form>

            </div>
        </div>
        <div class="tips">
            <div class="weizhi">
                <img src="../../img/success.png" alt="" v-if="mapShow">
                <img src="../../img/wrong.png" alt="" v-else>
            </div>
            <div class="tc" v-if="mapShow">
                申请新模板成功！
            </div>
            <div class="tc" v-else>
                申请失败，模板内容不能为空！
            </div>
            <div class="tc">
                <button class="sw_btnsuss" @click="sw_btnsuss()">确认</button>
                <button class="sw_btnwrong marl_15" v-if="!mapShow" @click="sw_btnwrong()">取消</button>
            </div>
        </div>
        <div class="tips1">
            <form class="layui-form layui-form-pane" action="" style="margin-left: 15%;">
                <div class="layui-inline" style="padding-bottom: 10px;">
                    <label class="">原因</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="replenish">
                            <option value="营销类内容">营销类内容</option>
                            <option value="模板内容格式不对">模板内容格式不对</option>
                            <option value="模板已存在">模板已存在</option>
                        </select>
                    </div>
                </div><br>
                <em >补充</em><br>
                <textarea name="con" id="text3" placeholder="请输入"></textarea>
                <div class="">
                <span class="sw_btn1" style="margin: 20px 15px 0 60px;" lay-submit="" lay-filter="demo7" @click="submit()">
                  确认拒绝
                </span>
                <span class="sw_btnwrong" @click="quxiao()">
                  取消
                </span>

                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/x-template" id="marry-template">
    <div>
        <div class="shade_con1">
            <div class="tongji">
                <h3>修改模板</h3>
                <span class="iconfont icon-shanchu" @click="shanchu()"></span>
            </div>
            <div class="temp">
                <form class="layui-form layui-form-pane" action="" style="padding: 0 0 15px 20px;">
                    <div class="layui-inline">
                        <label class=""
                                ><span style="color:#FE2121;font-weight:600;">*</span
                                >模板名</label
                                ><br />
                        <div class="layui-input-inline" style="width:300px">
                            <input
                                    type="text"
                                    name="user"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div
                            class="layui-inline"
                            style="padding-left: 0px;margin-right:0px"
                            >
                        <label class=""
                                ><span style="color:#FE2121;font-weight:600;">*</span
                                >优先级</label
                                ><br />
                        <div class="layui-input-inline" style="width:300px">
                            <input
                                    type="text"
                                    name="user"
                                    placeholder="请输入"
                                    class="layui-input"
                                    />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="">
                            <span style="color:#FE2121;font-weight:600;">*</span>
                            模板分类</label
                                ><br />
                        <div class="layui-input-inline" style="width:300px">
                            <select name="code">
                                <option value="">请选择</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <div
                            class="layui-inline"
                            style="padding-left: 0px;margin-right:0px"
                            >
                        <label class=""> 内容分类</label><br />
                        <div class="layui-input-inline"style="width:300px">
                            <select name="code">
                                <option value="">请选择</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <em
                            ><span style="color:#FE2121;font-weight:600;">*</span>
                        模板内容</em
                            >
                    <textarea name="aa" id="text3" placeholder="请输入"></textarea>
                    <em
                            ><span style="color:#FE2121;font-weight:600;">*</span>
                        匹配内容</em
                            >
                    <textarea name="bb" id="text4" placeholder="请输入"></textarea>
                    <div class="layui-inline">
                        <label class="">内容分类</label>
                        <div class="layui-input-inline" style="width:110px">
                      <span class="Gradual1" @click="appoint()">
                         选择用户
                      </span>

                        </div>
                        <p style="padding:15px 0;font-size:12px">
                            * 当修改用户时，请记得点击测试，测试通过后点击修改，否则指定用户修改失败
                        </p>
                    </div>
                    <div class="layui-inline">
                        <label class=""> 是否暂停</label><br />
                        <div class="layui-input-inline" style="width:300px">
                            <select name="code">
                                <option value="">请选择</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <div
                            class="layui-inline"
                            style="padding-left: 0px;margin-right:0px"
                            >
                        <label class=""> 合并类型</label><br />
                        <div class="layui-input-inline" style="width:300px">
                            <select name="code">
                                <option value="">请选择</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <em
                            ><span style="color:#FE2121;font-weight:600;">*</span>
                        挂机号码</em
                            >
                    <textarea name="aa" id="text5" placeholder="请输入"></textarea>
                    <div class="layui-inline">
                        <label class="">
                            <span style="color:#FE2121;font-weight:600;">*</span>
                            模板状态</label
                                ><br />
                        <div class="layui-input-inline" style="width:300px">
                            <select name="code">
                                <option value="">请选择</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <div
                            class="layui-inline"
                            style="padding-left: 0px;margin-right:0px"
                            >
                        <label class=""> 模板特性</label><br />
                        <div class="layui-input-inline" style="width:300px">
                            <select name="code">
                                <option value="">请选择</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="tc">
                        <p style="padding:15px 0;font-size:12px">
                            * 新增/修改 时必须点击测试后才能进行 新增/修改
                        </p>
                    </div>
                    <div class="layui-input-inline">
                        <button
                                class="sw_btn1"
                                style="margin: 10px 0 0 240px;"
                                lay-submit=""
                                lay-filter="demo9">
                            测试
                        </button>
                        <span class="sw_btnwrong marl_15" @click="sw_btnwrong()">关闭</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="tips">
            <div class="weizhi">
                <img src="../../img/success.png" alt="" >
            </div>
            <div class="tc">
                申请新模板成功！
            </div>
            <div class="tc">
                <button class="sw_btnsuss" @click="sw_btnsuss()">确认</button>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="select-template">
    <div class="shade_con2">
        <div class="tongji">
            <h3>指定用户</h3>
            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
        </div>
        <div class="select_bor">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-inline">
                    <label class="">登录名</label><br />
                    <div class="layui-input-inline" style="width:300px;height: 30px;">
                        <input
                                type="text"
                                name="phone"
                                placeholder="请输入"
                                class="layui-input"
                                style="height:30px"
                                />
                    </div>
                </div>
                <div class="layui-input-inline">
                    <button class="sw_btn1" style="margin: 30px 0 0 10px;"  lay-submit="" lay-filter="demo8">
                        查询
                    </button>
                <span class="sw_btn1" style="margin: 30px 0 0 10px;">
                    确认指定
                  </span>
                </div>
            </form>
            <div style="margin-top: 15px;">
                <div class="fl leftSele" style="margin-left: 15px;">
                    <h6>未添加用户</h6>
                    <div>
                        <p>1311</p>
                        <p>143231</p>
                        <p>14531</p>
                        <p>1351</p>
                    </div>
                </div>
                <div class="fl centerSele">
                    <button @click="moveRight()">></button><br>
                    <button @click="moveLeft()"><</button><br>
                    <button @click="allRight()">>></button><br>
                    <button @click="allLeft()"><<</button>
                </div>
                <div class="fl rightSele">
                    <h6>已添加用户</h6>
                    <div>
                        <p>1361</p>
                        <p>1371</p>
                        <p>1831</p>
                        <p>14431</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="manage-template">
    <div class="shade_con3">
        <div class="tongji">
            <h3 v-if="num == 0">新增模板</h3>
            <h3 v-if="num == 1">修改模板</h3>
            <h3 v-if="num == 2">导入审核模板</h3>
            <span class="iconfont icon-shanchu" @click="shanchu()"></span>
        </div>
        <div class="temp" v-if="code == 0" style="margin-bottom: 20px;overflow-y: auto;height: 480px;">
            <form class="layui-form layui-form-pane" action="" style="background: #FBFBFB;padding:0 0 0px 20px;">
                <em style="margin: 20px 0px 10px;display: inline-block;"><span style="color:#FE2121;font-weight:600;">*</span> 原内容</em>
                <textarea name="remark" id="text6" placeholder="请输入"></textarea>
                <em style="margin: 20px 0px 10px;display: inline-block;">匹配内容</em>
                <textarea name="remark" id="text7" placeholder="请输入"></textarea>
                <div class="layui-inline">
                    <label class=""><span style="color:#FE2121;font-weight:600;">*</span> 模板分类</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="templateType" id="eventLevel1">
                            <option value="1">放行</option>
                            <option value="2">拒绝</option>
                            <option value="3">先发后审</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">网关分组</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="templateType" id="eventLeve2">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="">优先级</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="templateType" id="eventLeve3">
                            <option value="3">低</option>
                            <option value="5">中</option>
                            <option value="7">高</option>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline">
                    <button class="sw_btn1" style="margin: 36px 0 25px 410px;" lay-submit="" lay-filter="demo8" v-if="num == 0">
                        确认新增
                    </button>
                    <span class="sw_btn1" v-if="num == 1" style="margin: 36px 0 25px 410px;">确认修改</span>
                </div>
            </form>
        </div >
        <div class="temp" v-if="code == 1" style="margin-bottom: 20px;">
            <form action="" class="layui-form layui-form-pane" style="background: #fbfbfb;padding:0 0 45px 20px;">
                <div class="layui-inline">
                    <label class="">网关分组</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="templateType" id="eventLeve4">
                        </select>
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class="">状态</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="templateType" id="eventLeve5">
                            <option value="1">放行模板</option>
                            <option value="2">拒绝模板</option>
                            <option value="3">先发后审</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class="">优先级</label><br />
                    <div class="layui-input-inline" style="width:300px">
                        <select name="templateType" id="eventLeve6">
                            <option value="3">低</option>
                            <option value="5">中</option>
                            <option value="7">高</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline" style="width: 110px;margin-top: 35px;margin-left: 300px;"><span class="Gradual1">
                                           批量导入
                                 </span></div>
                    <a style="padding:2px 0px; font-size: 13px;color: #3C84D2;border-bottom: 2px solid; font-weight: 600;vertical-align: bottom;display: inline-block;">
                        导入模板下载
                    </a>
                </div>
                <div class="layui-input-inline">
                    <button lay-submit="" lay-filter="demo7" class="sw_btn1" style="margin:36px 0px 0px 30px;">
                        确定导入
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>
<script src="../../layui.all.js"></script>
<script src="../../module/template_manage.js"></script>
<script>
    //头部
//    var operaAI = new Vue({
//        el: "#proMang",
//        data: {
//            topCurrent: 3
//        }
//    });
//    //   //左侧菜单组件实例化
//    var leftMenu = new Vue({
//        el: "#leftMenu_Box",
//        data: {
//            current: 3
//        }
//    });
//    //
    resource()
    var rightTable = new Vue({
        el: "#rightTable"
    });
    //
    var shade = new Vue({
        el: "#shade"
    });
    //
    var shade1 = new Vue({
        el: "#shade1"
    });
    //
    var shade4 = new Vue({
        el: "#shade4"
    });
    var select = new Vue({
        el: "#select"
    });
    $(function() {
        //     $('#proMang .top ul li a').mousemove(function(){
        //         $(this).addClass('addClass').parent().siblings().find('a').removeClass('addClass')
        //   })

        total($(".dropdown ul li"),$(".dropdown .dropdown-selected"),$(".dropdown ul"),$(".dropdown"));
        $('#select').on('click','.select_bor p', function () {
            $(this).addClass('addClass4').siblings().removeClass('addClass4').parent().parent().siblings().find('p').removeClass('addClass4');
        });
        laydate.render({
            elem: "#test", //指定元素
            type: 'datetime',
            value: getDay(0)+' 00:00:00',
        });
        laydate.render({
            elem: "#test1", //指定元素
            type: 'datetime',
            value: getDay(0)+' 23:59:59',
        });
        $(document).ready(function(){
            $('#leftMenu_Box').css('background', '#040b29');
            $('#proMang .top').css('background', '#fff')
        });
    });
</script>
</body>
</html>
