/** reset **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{border:medium none;margin: 0;padding: 0;font-size: 100%;}
body,button, input, select, textarea{font-size: 14px;line-height: 1.5;font-family: Arial, 'Microsoft Yahei';}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
em{font-style:normal;}
ul, ol{list-style: none;}
input,button{background: none;border: none;outline: none;-webkit-appearance: none;}
textarea{resize: none;}
a{text-decoration: none;color:#333;}
a:hover{text-decoration: none;
		color:#ffd220;
		-moz-transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
}
img{border:0px;  outline-width:0px;  vertical-align:top;}
.clearfix { *zoom: 1; } 
.clearfix:before, .clearfix:after {  display: table; line-height: 0; content: ""; } 
.clearfix:after { clear: both; } 
.fl { float:left;}
.fr { float:right;}
.hide { display:none;}
.boxall{ border: 1px solid rgba(25,186,139,.17);box-sizing: border-box; padding:0 .3rem .3rem .3rem; /* background: rgba(255,255,255,.04);*/ background-size: 100% auto; position: relative; margin-bottom: 1rem; z-index: 10;}
.boxall:before,
.boxall:after{ position:absolute; width: 1rem; height: 1rem; content: "";  border-top: 2px solid #02a6b5; top: 0;}
.boxall:before,.boxfoot:before{border-left: 2px solid #02a6b5;left: 0;}
.boxall:after,.boxfoot:after{border-right: 2px solid #02a6b5; right: 0;}
.boxfoot{ position:absolute; bottom: 0; width: 100%; left: 0;}
.boxfoot:before,
.boxfoot:after{ position:absolute; width: 1rem; height: 1rem;  content: "";border-bottom: 2px solid #02a6b5; bottom: 0;}
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1591082345909'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1591082345909#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABsAAAAKYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBJIEuATYCJAMMCwgABCAFhG0HQxv5Bcg+QRxjOyClRCJUaEmrGdXJWXb6q5E/9+2BSyhPsxFEY+ns3QUAFYNKyhbJkSJ2jSyxcGhMhamMqgU04rffT1NAo3K+QKqKUKH+lPeB81I6X6c3Pzk9ITfh1gMIaYB6AWOkXv6fDzSAwoQqcMjx6Vvz1AKsKQAXYTVJSR6/KvkqEmqfuHf6J1BUNB9QLmsO2/ip+0Bd3HkX0N4YRVYimfcQr4aLeEyg3rCWwp7V4Qx1hbUqEBd914R6LqMoQr1WqK45WMRzVWrTg/QVeBZ+P/4bhCRVmbXxwIWlA5Pf1pWd8QlZAh6vQsYMUIhjtZUDSkIQlNRXykbAvmYFv4Xf+D6xV1Ei/jqnsRFMYDXxG9fi1rR4RAIZVOdri8AGYTu3h+gzfciRms23D1+rPua33e86+qae4+9KpjuSstr9WjRV+8J3UXN0w+bWHPt8r587P7s3mnCsr85vXS6e8WYf3+O8dVrPAKic/udj4S8KCN639t31pYBvN0hVLswYqD1bNPhz2p49Rddb3lxUjasxY1lfj3JCvR5XwUq0+xtv6+rdSqjVNSJWYyhFVmuELOwMqjRYQbVa21Fv2vp4gw6sJEodprwBodUHkmZfkLX6IQv7iyrd/lGtNUC9Y9FxYYOxqLmbyRRy0LqH/tk0UY5fmlHzkdxbZHJWH4qvxNrPY7/TK9bXlBDPsUXfdgdyU6G6nsa4gucoilLMrqcB2dLxbko27nZV3Zs69pUYmnZjxCSIA1lekM+WSih/sGiWPn9EXDcRE7dwaopXhGn++Kivo9eDXFuSXpx7eUW7cw0IoSCFpWJoBSES2ZUUyurnBYhNdHgjSpmxLuFTfS2d9W3x9x2CelZ3jhQ5ioZbH61JeqP+MA2PAAA=') format('woff2'),
  url('../fonts/iconfont.woff?t=1591082345909') format('woff'),
  url('../fonts/iconfont.ttf?t=1591082345909') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1591082345909#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconset0413:before {
  content: "\e724";
}

.icon-iconset0414:before {
  content: "\e725";
}
